@if (ShowReportForm)
{

        <div class=" modals ">

            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Bug Report</h5>
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <EditForm Model="@User">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <label for="UserName">Name: </label>
                            <InputText id="userName" class="form-control" @bind-Value="@User.UserName" placeholder="Enter your name"></InputText>
                            <ValidationMessage For="@(() => User.UserName)" />
                        </div>
                    <br />
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <InputText id="email" class="form-control" @bind-Value="@User.Email" placeholder="Enter email"></InputText>
                            <ValidationMessage For="@(() => User.Email)" />
                        </div>
                    </EditForm>
                <br />
                    <EditForm Model="@BugReport" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <label for="Description">Description: </label>
                        <InputTextArea style="max-height:100px" id="Description" class="form-control" @bind-Value="@BugReport.Description" placeholder="Description" maxlength="200"></InputTextArea>
                            <ValidationMessage For="@(() => BugReport.Description)" />
                        </div>
                    <br />
                        <AddFile/>
                    <br />
                        <button type="submit" class="btn btn-light" style="border:2px solid black; border-radius:5px">Send</button>
                      
                    </EditForm>



                </div>
            </div>

        </div>


}

<style>
   
    .modals{
        display:flex;
        margin:20px;
        justify-content: flex-start;
        align-items:center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 2px solid black;
        border-radius: 10px;
    }
</style>