@if (ShowReportForm)
{
	<div class=" modals ">
		<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="titleLabel">Feedback Report</h5>
					<button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
			</div>
				<div class="modal-body">
				<EditForm Model="@Feedback">
					<div class="star-container">
						<span class="oi oi-star ativo" data-avaliacao="1" @onclick="() => UpdateRating(1)" />
						<span class="oi oi-star" data-avaliacao="2" @onclick="() => UpdateRating(2)" />
						<span class="oi oi-star" data-avaliacao="3" @onclick="() => UpdateRating(3)" />
						<span class="oi oi-star" data-avaliacao="4" @onclick="() => UpdateRating(4)" />
						<span class="oi oi-star" data-avaliacao="5" @onclick="() => UpdateRating(5)" />
					</div>
				</EditForm>

				<EditForm Model="@User">
						<DataAnnotationsValidator />
						<ValidationSummary />
						<div class="form-group">
							<label for="UserName">Name: </label>
							<InputText id="userName" class="form-control" @bind-Value="@User.UserName" placeholder="Enter your name"></InputText>
							<ValidationMessage For="@(() => User.UserName)" />
						</div>

						<div class="form-group">
							<label for="email">Email: </label>
							<InputText id="email" class="form-control" @bind-Value="@User.Email" placeholder="Enter email"></InputText>
							<ValidationMessage For="@(() => User.Email)" />
						</div>
					</EditForm>
					<EditForm Model="@Feedback" OnValidSubmit="@HandleValidSubmit">

						<DataAnnotationsValidator />
						<ValidationSummary />

					
						<div class="form-group">
							<label for="Comments">Comments: </label>
							<InputText id="Comments" class="form-control" @bind-Value="@Feedback.Comments" placeholder="Comments"></InputText>
							<ValidationMessage For="@(() => Feedback.Comments)" />
						</div>


						<InputFile><p class="btn btn-warning">file</p></InputFile>
						<button type="submit" class="btn btn-light">Send</button>
						
					</EditForm>

				</div>
			</div>
		</div>

}


<style>
	.star-container {
		display: flex;
		align-items:center;
		justify-content:center;
		gap: 10px;
	}

	.modals {
		display: flex;
		margin: 20px;
		justify-content: flex-start;
		align-items: center;
		border: 2px solid black;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	
	.oi-star {
		list-style-type: none;
		border: 1px solid #fff;
		cursor: pointer;
		color: blue;
		font-size: 60px; /* alterar o tamanho das estrelas */
	}

		.oi-star::before {
			content: "\2605";
		}

		.oi-star.ativo ~ .oi-star::before {
			content: "\2606";
		}

	.star-container:hover .oi-star::before {
		content: "\2605";
	}

	.oi-star:hover ~ .oi-star::before {
		content: "\2606";
	}
</style>